global:
  resolve_timeout: 5m

route:
  group_by: [alertname]
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 4h
  receiver: default

receivers:
{% if discord_webhook != "" %}
  - name: default
    discord_configs:
      - webhook_url: "{{ discord_webhook }}"
        title: '{{ "{{" }} template "discord.default.title" . {{ "}}" }}'
        message: '{{ "{{" }} template "discord.default.message" . {{ "}}" }}'
{% else %}
  - name: default
{% endif %}

inhibit_rules:
  - source_matchers: [severity="critical"]
    target_matchers: [severity="warning"]
    equal: [alertname, instance]
